*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
    /* background-color: #ffffff; */

}

.main-header{
    padding: 15px;
    margin-top: 36px;
    margin-bottom: 85px;
    justify-content: space-around;
    align-items: center;
    display: flex;

}

.navbar  ul {
    display: flex;
    /* padding: 20px 60px ; */
    justify-content: center;
    /* margin-right: 30px; */
    align-items: center;

}

.navlink{
    display: flex;
    gap: 50px;
    list-style:none;
    /* margin-right: 30px; */
    margin: 0;
    padding: 0;
}
.navlink a{
    text-decoration: none;
    color: #15143966;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.authlink{
    
    display: flex;
    list-style: none;
    gap: 30px;
    text-decoration: none;
}
.authlink .login{
    color: #25DAC5;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.authlink .signup{
    background-color: #25DAC5;
    color: white;
    padding: 7px 18px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

}
.authlink a{
    text-decoration: none;
}

.head-para{
    width: 714px;
    height: 387px;
    align-content: center;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 111px;

}
.head-para h1{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* line-height: 50px; */
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 32px;
}
.head-para p{
    color: #15143966;
}

.head-para a{
    text-decoration: none;
    background-color: #e93a7d;
    color: #fff;
    width: 268px;
    height: 60px;
    padding: 17px 45px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 100px;
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 172px;
    
    border-radius: 10px;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto  ;
    

}
.box1{
    width: 228px;
    height: 219.2px;
}
.box1 .first{
    margin-bottom: 24.5px;
}
.a{
    border-left:1px solid black;
    height: 109px;

}
.b{
    border-left:1px solid black;

    height: 109px;
    
}
.head-para p{
    width: 625px;
    height: 96px;
    font-size: 22px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 59px;
    text-align: center;
}

.boxes p{
    margin: 0 auto;
    font-size: 18px;
    color: #15143966;
    text-align: center;
    width: 228px;
    height: 84px;
    line-height: 28px;
    font-weight: 500;
}
